/* General styles and layout */
html, body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  font-family: "STARWARS";
  margin: 0;
  padding: 0;
}

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

.starwars-demo img {
  width: 100%;
}

.star, .wars, .byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: yellow;
  font-family: "ITC Serif Gothic", "starwars";
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

@font-face {
  font-family: "STARWARS";
  src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot");
  src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff") format("woff"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.svg#STARWARS") format("svg");
}
#container {
  display: flex;
  flex-direction: column;
  width: auto;
}

h1 {
  color: yellow;
  font-size: 70px;
  text-align: center;
}

h3 {
  color: yellow;
  margin-left: 5%;
}

p {
  margin: 50px;
  font-size: 25px;
  color: white;
  width: 80%;
  text-align: justify;
}

/*MUSIC*/
#progressBarControl {
  color: black;
  border: yellow solid;
  border-radius: 50%;
  text-align: center;
}

#progressBar {
  background-color: yellow;
  border-radius: 50%;
  background-repeat: repeat;
  font-family: "STARWARS";
}

button {
  color: yellow;
  background-color: black;
  border-radius: 20px;
  display: inline-block;
  font-family: "STARWARS";
}

.center {
  text-align: center;
}

/* Animation properties */
.star {
  animation: star 10s ease-out infinite;
}

.wars {
  animation: wars 10s ease-out infinite;
}

.byline span {
  animation: spin-letters 10s ease-out infinite;
}

.byline {
  animation: move-byline 10s ease-out infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 0.3;
  }
  89% {
    opacity: 0.3;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}
@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}
@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 0.3;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 0.3;
  }
  95%, 100% {
    opacity: 0;
  }
}
@keyframes move-byline {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}
/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve-3d;
}

/*** Media queries for adjusting to different screen sizes ***/
@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}

/*# sourceMappingURL=starwars.css.map */
