html, body{
  margin:0;
  padding:0;
  background-color:black;
}
@font-face {font-family: "STARWARS";
    src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot"); 
    src: url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/c00548f5d217ed324ae9096051927001.svg#STARWARS") format("svg"); }

@font-face {
    font-family: 'ninjago';
    src: url('http://www.fontsaddict.com/fontface/ninjago.ttf');
    font-display:auto;
    font-weight: normal;
    font-style: normal;
  }
/*HEADER*/
nav ul{
    display:flex;
    flex-flow:wrap;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}
nav li {
    list-style-type: none;
    font-size:30px;
}
nav{
    z-index:10;
    width: 100%;
    margin:auto;
    opacity: .95;
    position:fixed;
    top:0px;
    background:#e2faf4;
    border-radius:50px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    color: black;
    font-size:30px;
 }

.star{
    font-family:'STARWARS';
}
.nin{
    font-family:'ninjago';
}
.HarryP{
    font-family:'Harry P';
}
.lcity{
    font-family:'Legothick';
}
.star:hover{
    border-top:10px solid;
    background-color:greenyellow;
    border-radius:50px;
}
.nin:hover {
    border-top:10px solid;
    background-color:orange;
    border-radius:50px;

}
.HarryP:hover{
    border-top:10px solid;
    background-color:red;
    border-radius:50px;
  }
.lcity:hover{
    border-top:10px solid;
    background-color:blue;
    border-radius:50px;
}
nav li:hover a{
    padding:10px 50px 20px 30px;
    color:white;
    border-radius:50px;
}

/*H*/

h1{
    margin-top:15%;
    font-size:50px;
    color: white;
    padding:0px;
    text-align:center;
    font-family: 'Legothick';
}
h2{
    margin:30px;
    font-size:30px;
    color:blue;
    padding:0px;
}

/*ACTIVATION BUTTON*/

a:active/* quand le visiteur clique sur le lien*/{
    background-color:blue;
  }
a:visited/* quand le visiteur a deja vue la page concernée*/{
    background-color:#AAA;
}

/*MAIN MENU*/

#container{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:auto;
    margin:0;
    padding:0;    
}
/*STARWARS*/

.ST{
    font-family:'STARWARS';
    border:solid 1px red;
    width:60%;
    margin-left:20%;
}
.st_image img{
    width:100%;
    height:400px;
    background-repeat: no-repeat;
}
.ST a{
    text-decoration: none;
    color:yellow;
}

/*MUSIC STARWARS*/

#progressBarControl{
    color: black;
    border: yellow solid;
    border-radius:50%;
    text-align:center;
}
#progressBar{
    background-color:yellow;
    border-radius:50%;
    background-repeat: repeat;
    font-family: 'STARWARS';
}
button{
    color:yellow;
    background-color:black;
    border-radius:20px;
    display:inline-block;
    font-family: 'STARWARS';
 } 
.center{
    text-align: center;
}

/*NINJAGO*/

#ninjago{
    font-family:'Ninjago';
}
div.NI{
    background-image: url("https://www.actualitte.com/images/actualites/images/Laure%20images/ninjago-lego-film.jpg"); 
    background-repeat: no-repeat;
    background-size:100%;
    height:400px;
}

/*HARRYPOTTER*/

#HarryP{
    font-family:'Harry P'; 
}
div.HP{
    background-image: url("https://www.nicepng.com/png/full/786-7868203_lego-harry-potter-hogwarts-whomping-willow-light.png");
    background-repeat: no-repeat;
    background-size:100%;
    height:400px;
}


/*LEGOCITY*/


#Legocity{
    font-family:'LegoThick';
}
 
div.LG{
    background-image: url("https://static.turbosquid.com/Preview/001294/516/06/_D.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    height:500px;
}


